<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/index.css}"/>
</head>
<body>

<div class="container base">
    <div class="row base-row">
        <div class="col-3 menu">
            <a href="/home" th:classappend="${menu == 'home'} ? 'text-dark' : ''">
                <div class="logo mb-5 text-center text-light pt-1 pb-1">
                </div>
            </a>
            <ul class="list">
                <li class="side-panel"><a th:classappend="${menu == 'home'} ? 'text-dark' : ' '" th:href="@{/home}"><i
                        class="fas fa-home"></i>&nbsp;&nbsp;Főoldal</a></li>
                <li class="side-panel"><a th:href="@{/setting}"><i class="fas fa-cogs"></i>&nbsp;&nbsp;Beállítások</a>
                </li>
                <li class="side-panel" th:if="${session.user.bid==1}"><a th:href="@{/all-customers-records}"><i
                        class="fas fa-users"></i>&nbsp;&nbsp;Összes felhasználó</a></li>
                <li class="side-panel" th:if="${session.user.bid == 1}">
                    <a th:href="@{/admin}">
                        <i class="fas fa-tools"></i>&nbsp;&nbsp;Admin
                    </a>
                </li>
                <li class="side-panel"><a th:href="@{/order-history}"><i class="fas fa-history"></i>&nbsp;&nbsp;Foglalások</a>
                </li>
                <li class="side-panel"><a th:href="@{/aboutus}"><i
                        class="fas fa-address-card"></i>&nbsp;&nbsp;Rólunk</a></li>
                <li class="side-panel"><a th:href="@{/contactus}"><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;Kapcsolat</a>
                </li>
                <li class="side-panel"><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Kijelentkezés</a>
                </li>
            </ul>
        </div>
        <div class="col-9 history">
            <div class="history-section">
                <div class="history-head">
                    <p>
                        <span><i class="fas fa-user"></i></span>&nbsp;<span
                            class="name-user" th:if="${session.user.name}"
                            th:text="${session.user.name}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="text-primary">Film</th>
                        <th scope="col" class="text-primary">szék</th>
                        <th scope="col" class="text-primary">Egységár</th>
                        <th scope="col" class="text-primary">Összesen</th>
                        <th scope="col" class="text-primary">Foglalt időpont</th>
                        <th scope="col" class="text-primary">Vetítési dátum</th>
                        <th scope="col" class="text-primary">Vetítés idő</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="history: ${hList}">
                        <th th:text="${history.movieName}"></th>
                        <th th:text="${history.seat}"></th>
                        <th th:text="${history.price}"></th>
                        <th th:text="${history.total}"></th>
                        <th
                                th:text="${#dates.format(history.bookOnDate, 'dd-MM-yyyy')}"></th>
                        <th
                                th:text="${#dates.format(history.showOnDate, 'dd-MM-yyyy')}"
                                th:classappend="${(history.showOnDate eq #dates.createToday()) or (history.showOnDate.after(#dates.createNow())) ? 'active' : 'deactive'}"></th>
                        <th th:text="${history.showTime}"
                            th:classappend="${(history.showOnDate eq #dates.createToday()) or (history.showOnDate.after(#dates.createNow())) ? 'active' : 'deactive'}"></th>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


</body>
</html>
