<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/index.css}"/>
</head>
<body>

<div class="container base">
    <div class="row base-row">
        <div class="col-3 menu">
            <a href="/home" th:classappend="${menu == 'home'} ? 'text-dark' : ''">
                <div class="logo mb-5 text-center text-light pt-1 pb-1">
                </div>
            </a>

            <ul class="list">
                <li class="side-panel"><a th:classappend="${menu == 'home'} ? 'text-dark' : ' '" th:href="@{/home}"><i
                        class="fas fa-home"></i>&nbsp;&nbsp;Főoldal</a></li>
                <li class="side-panel"><a th:href="@{/setting}"><i class="fas fa-cogs"></i>&nbsp;&nbsp;Beállítások</a>
                </li>
                <li class="side-panel" th:if="${session.user.bid==1}"><a th:href="@{/all-customers-records}"><i
                        class="fas fa-users"></i>&nbsp;&nbsp;Összes felhasználó</a></li>
                <li class="side-panel" th:if="${session.user.bid == 1}">
                    <a th:href="@{/admin}">
                        <i class="fas fa-tools"></i>&nbsp;&nbsp;Admin
                    </a>
                </li>
                <li class="side-panel"><a th:href="@{/order-history}"><i class="fas fa-history"></i>&nbsp;&nbsp;Foglalások</a>
                </li>
                <li class="side-panel"><a th:href="@{/aboutus}"><i
                        class="fas fa-address-card"></i>&nbsp;&nbsp;Rólunk</a></li>
                <li class="side-panel"><a th:href="@{/contactus}"><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;Kapcsolat</a>
                </li>
                <li class="side-panel"><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Kijelentkezés</a>
                </li>
            </ul>
        </div>
        <div class="col-9 main-dashboard">

            <div class="main-dashboard-head">


                </form>
                <div class="main-dashboard-right">
                    <p>
                        <span><i class="fas fa-user"></i></span>&nbsp;<span
                            class="name-user" th:if="${session.user.name}"
                            th:text="${session.user.name}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                </div>


            </div>
            <div class="notice">
                <h5 class="bg-warning text-light text-center"><span th:text="${message}"></span></h5>
            </div>


            <div id="info">
                <div id="info-container">
                    <button id="info-button">i</button>
                    <div id="info-bubble">A listázott filmek rendre az A-F termekben kerülnek vetítésre</div>
                </div>
            </div>

            <h3 id="ajanlat">Aktuális filmajánlatunk:</h3>


            <div class="before_main_section">
                <div class="card-section" th:each="movies : ${listMovie}">
                    <form th:action="@{/booking-seat}" method="get">
                        <a th:href="@{${movies.trailer}}" target="_blank">
                            <img th:src="@{${'images/'+movies.image}}" height="280px" alt=""/>
                        </a>
                        <h6 class="list-element" th:text="${movies.movieName}"></h6>
                        <div class="card_body mt-1">
                            <button class="btn btn-primary" type="submit" name="movieName"
                                    th:value="${movies.movieName}">Foglalás
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>